body{
    --color1:#337A51; /* colors are defined in variables for the opportunity to change color palletes! */
    --color2: #388659;
    --color3: #459872;
    --color4: #4A9B76;
    --color5: #4E9D79;
    --textcolor:black;
    --underline: #2A6543;

    color:var(--textcolor);
    background-color: var(--color1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html.darkmode body{
    --color1: #102719;
    --color2: #122B1C;
    --color3: #142F1F;
    --color4: #163422;
    --color5: #183925;
    --textcolor:#6F8477;
    --underline:#0F2317; 

    color:var(--textcolor);
    background-color: var(--color1);
}
a{
    color:var(--textcolor);
    text-decoration: underline var(--underline);
}
h1:hover{
    background-color: var(--color3);
}
h2:hover{
    background-color: var(--color3);
}
h1, h2{
    width: fit-content;
    height: fit-content;
    background-color: var(--color2);
    padding: 20px;
}
.box{
    width: fit-content;
    height: fit-content;
    background-color: var(--color3);
    padding: 20px;
}
img{
    border: groove var(--color5) 10px;
    width: 320px;
}

